{% extends "layout.html" %}

{% block title %}
    Line of Balance
{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            <h5>Line of Balance</h5>
            <hr>
            <div class="chart-container">
                <div id="lobChart" style="width: 100%; height: 500px;"></div>
            </div>
        </div>
    </div>
    
    <script>
    // Fetch data from Flask backend
    fetch('/lob-data')
        .then(response => response.json())
        .then(data => {
            console.log("Received data:", data);

            const traces = data.map(d => ({
                x: [new Date(d.start_time), new Date(d.end_time)],
                y: [1, d.location],
                mode: 'lines+markers',
                type: 'scatter',
                name: d.task
            }));

            const layout = {
                xaxis: {
                    title: 'Time',
                    type: 'date'
                },
                yaxis: {
                    title: 'Location',
                    tickvals: data.map(d => d.location_order),
                    ticktext: data.map(d => d.location)
                }
            };

            // Render the Plotly chart
            Plotly.newPlot('lobChart', traces, layout);
        })
        .catch(error => console.error("Error fetching LOB data:", error));
    </script>

{% endblock %}