{% extends "layout.html" %}

{% block title %}
    Task
{% endblock %}

{% block tooltip %}
    Enter the repetitive tasks for your project here.
    Make sure to logically assign one or more predecessors to each task, as this will influence the project timeline and dependencies. 
{% endblock %}


{% block main %}
<div class="container">
    <h3>Create your Work Breakdown Structure </h3>
    
    {% if ready == True %}
        <script type="module">
            import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
            mermaid.initialize({startOnLoad:true});
        </script>
            <div class="card">
                <div class="card-body">
                    <h5>Typical Floor Flowchart</h5>
                    <hr>
                    <div class="mermaid">
                        {{ mermaid_code|safe }}
                    </div>
                </div>
            </div>
        <script>
            fetch('/gantt-data')
                .then(response => response.json())
                .then(data => {
                    const mermaidCode = mermaid.mermaid_code;
                    document.querySelector('.mermaid').innerHTML = mermaidCode;
                    mermaid.init(); // Reinitialize mermaid after content change
                });
        </script>
    {% endif %}
    <!-- Table to display added tasks -->
    <table class="table table-striped" id="wbs-table">
        <thead>
            <tr>
                <TH>id</TH>
                <th>Task</th>
                <th>Duration</th>
                <th>Predecessor</th>
                <th></th> <!-- Add/Delete column -->
            </tr>
        </thead>
        
        <tbody id="wbs-tbody">

            <tr>
                <form method="POST" action="/task">
                    <td></td> <!-- id takes no input -->
                    <td style="padding: 15px;"><input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="task" placeholder="Task Name" type="text"></td>
                    <td style="padding: 15px;"><input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="duration" placeholder="Duration (Days)" type="text"></td>
                    <td>
                        <select class="form-select mx-auto w-auto select-small" aria-label="Default select example" name="predecessor" multiple>
                            <option value="">None</option>
                            {% for row in wbs_table %}
                                <option value="{{ row['display_id'] }}">{{ row['display_id'] }}</option>
                            {% endfor %}
                        </select>

                    </td>
                    <td style="padding: 15px;"><button class="btn btn-primary mx-auto w-auto" type="submit">Add</button></td>
                </form>
            </tr>
            {% for row in wbs_table %}
                <tr>
                    <td>{{ row["display_id"] }}</td>
                    <td>{{ row["task"] }}</td>
                    <td>{{ row["duration"] }}</td>
                    <td>{{ row["predecessors"] or none }}</td>
                    <td>
                        {% if loop.index == 1 %}
                        <form method="POST" action="/task">
                            <input type="hidden" name="id" value="{{ row['id'] }}">
                            <button class="btn btn-danger mx-auto w-auto" type="submit">Delete</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}